  version: '3'
services:
  grafana:
    image: grafana/grafana:4.5.2
    ports:
      - "3000:3000"  
    network_mode: "host"


  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    network_mode: "host" 