<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body class="d-flex flex-column h-100"> 
		<%- include('partials/navbar.ejs', {active: "booking"})  %>
		<main role="main" class="flex-shrink-0">
			<div class="container">
        <section id="find-flight-container" class="mb-4">   
          <form action="/booking/flight" method="POST">
            <hr />
              <h5 class="text-center mb-4">Destination</h3>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="departureAirportInput">Departure Airport</label>
                  <input type="text" class="form-control" id="departureAirportInput" placeholder="Departure IATA" required name="departureAirport">
                </div>
                <div class="form-group col-md-4">
                  <label for="arrivalAirportInput">Arrival Airport</label>
                  <input type="text" class="form-control" id="arrivalAirportInput" placeholder="Arrival IATA" required name="arrivalAirport">
                </div>
                <div class="form-group col-md-4">
                  <label for="departureDateInput">Departure Date</label>
                  <input type="date" class="form-control" id="departureDateInput" placeholder="Departure" required name="departureDate">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Next</button>
          </form>
          <hr />
        </section>

        <section id="find-booking-container" class="mb-4">
          <h5 class="text-center mb-4">Create Booking</h3>
          <form action="/booking/get" method="POST">
            <label for="header">Booking Id</label>
            <input name="bookingId" type="string" placeholder="booking id" required />        
           <input type="submit" />
          </form>
          <hr />
        </section>

        <section id="cancel-booking-container" class="mb-4">
          <h5 class="text-center mb-4">Cancel Booking</h3>
          <form action="/booking/cancel" method="POST">
            <label for="header">Booking Id</label>
            <input name="bookingId" type="string" placeholder="booking id" required />        
           <input type="submit" />
          </form>
          <hr />
        </section>      
			</div>
		</main>
		<%- include('partials/footer.ejs') %>
    <%- include('imports/bootstrap-scripts.ejs') %>
    <script>
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      var yyyy = today.getFullYear();
      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById("departureDateInput").setAttribute("min", today);
      document.getElementById("departureDateInput").setAttribute("value", today);
      document.getElementById("arrivalDateInput").setAttribute("min", today);
      document.getElementById("arrivalDateInput").setAttribute("value", today);
      console.log(today)
    </script>
	</body>		
</html>