<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body class="d-flex flex-column h-100"> 
		<%- include('partials/navbar.ejs', {active: "booking"})  %>
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<h2>Hello from booking!</h2>

        <hr />        
        <h4>Find booking by id</h4>
        <form action="/booking/get" method="POST">
          <label for="header">Booking Id</label>
          <input name="bookingId" type="string" placeholder="booking id" required />        
         <input type="submit" />
        </form>

        <hr />        
        <h4>Cancel booking by id</h4>
        <form action="/booking/cancel" method="POST">
          <label for="header">Booking Id</label>
          <input name="bookingId" type="string" placeholder="booking id" required />        
         <input type="submit" />
        </form>

        <hr />        
        <h4>Create Booking</h4>        
        <form action="/booking/create" method="POST">
          <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input type="email" class="form-control" id="emailInput" required placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div id="passenger-container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstnameInput">First Name</label>
                <input type="text" class="form-control" id="firstnameinput" placeholder="Firstname" required name="passenger[1][first_name]">
              </div>
              <div class="form-group col-md-6">
                <label for="lastnameInput">Last Name</label>
                <input type="text" class="form-control" id="lastnameinput" placeholder="Lastname" required autocomplete="false" name="passenger[1][last_name]">
              </div>
            </div>
          </div>
          <a onclick="addPassengerToForm()"class="btn btn-link float-right" >[+] Add an extra passenger</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
			</div>
		</main>
		<%- include('partials/footer.ejs') %>
    <%- include('imports/bootstrap-scripts.ejs') %>
    <script>
      let i = 2;
      function addPassengerToForm() {
          let template = `
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstnameInput">First Name</label>
                  <input type="text" class="form-control" id="firstnameinput" placeholder="Firstname" required name="passenger[${i}][first_name]">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastnameInput">Last Name</label>
                  <input type="text" class="form-control" id="lastnameinput" placeholder="Lastname" required autocomplete="false" name="passenger[${i}][last_name]">
                </div>
              </div>
          `;
          let container = document.getElementById('passenger-container');
          let div = document.createElement('div');
          div.innerHTML = template;
          container.appendChild(div);
          i++;
      }
    </script>
	</body>		
</html>