<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body> 
		<%- include('partials/navbar.ejs', {active: "booking"})  %>
		<main role="main">
			<div class="container">
        <h2>Hello from booking!</h2>

        <hr />        
        <h4>Find booking by id</h4>
        <form action="/booking/get" method="POST">
          <label for="header">Booking Id</label>
          <input name="bookingId" type="string" placeholder="booking id" required />        
         <input type="submit" />
        </form>

        <hr />        
        <h4>Cancel booking by id</h4>
        <form action="/booking/cancel" method="POST">
          <label for="header">Booking Id</label>
          <input name="bookingId" type="string" placeholder="booking id" required />        
         <input type="submit" />
        </form>

        <hr />        
        <h4>Create Booking</h4>
        <form action="/booking/get" method="POST">
          <label for="header">Booking Id</label>
          <input name="bookingId" type="string" placeholder="booking id" required />        
         <input type="submit" />
        </form>
      </div>      
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>