<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>LSD Frontend</title>
	</head>
	<body class="container">
		
        
        

        <%= carrier.name %>

	</body>
</html>