<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>LSD Frontend</title>
	</head>
	
	<header>	
		<%- include('partials/navbar') %>
	</header>
	<body class="container">
		
		<form action="/booking" method="POST">
      
			<label for="header">Firstname</label>
			<input name="firstname" type="string" placeholder="Firstname" required />
			<br>
			<label for="header">Lastname</label>
			<input name="lastname" type="string" placeholder="Lastname" required />
			<br>			
			
			<input type="submit" />
		  </form>
	
	</body>
	
		<%- include('partials/footer') %>
	
</html>