<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>LSD Frontend</title>
	</head>
	<body class="container">
		<h1><%= carrierDetails %></h1>	
		<div>
			<h2>List Template</h2>
		</div>

		<a href="https://ejs.co/#docs">ejs documentation</a>
	</body>
</html>