<!-- views/partials/navbar.ejs -->

<head>
    <link href="navbar.css" rel="stylesheet" type="text/css" />    
</head>
<div class="header clearfix">
    
    <nav>
        <ul>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/carriers">Carrier</a></li>
            <li><a href="/flights">flights</a></li>
            <li style = "float:right"><a class="active" href="/">Home</a></li>
          </ul>        
    </nav>
</div>